html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;

  color: #111235;
  background: linear-gradient(7.28deg, #eef5ff 0%, #ffffff 99.69%);
  font-family: Hellix, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}
a {
  text-decoration: none;
  color: rgba(17, 18, 53, 1);
}

section {
  margin: 0 auto;
  margin-bottom: 120px;
}
section.gradient {
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
}

header {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.header-text {
  font-size: 36px;
}

.navbar {
  width: 50%;
  display: none;
}
.navbar > ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar > ul > li {
  margin: 0 0 0 45px;
}
.bold {
  font-weight: 700;
}

.section-container {
  height: 100%;
  padding: 0 15px;
}
.centered {
  text-align: center;
}
img {
  width: 100%;
  margin: 40px auto;
}
h1 {
  font-size: 64px;
  margin: 0;
  margin-bottom: 20px;
  line-height: 75px;
}
p {
  font-size: 16px;
  line-height: 24px;
  margin: 30px auto;
}

.btn {
  display: block;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 0;
  max-width: 65%;
  margin: auto;
  color: #fff;
  text-decoration: none;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}
.btn-primary {
  background-color: #4b5092;
}
.btn-secondary {
  background-color: #fff;
  color: #436baa;
}

h2 {
  font-size: 48px;
  line-height: 57.61px;
}

.section-text.light-blue {
  background-color: #f2f8ff;
  padding: 50px 15px;
}
.padding-bypass {
  margin: 0 -15px;
}
.section-title {
  margin: 0;
  padding-top: 80px;
  font-size: 46px;
}
.trainer-img {
  margin-bottom: -4px;
}

.feature-card {
  padding: 50px 40px;
  margin-bottom: 20px;
  border-radius: 30px;
}
.feature-card.blue {
  background-color: #e4f0ff;
}
.feature-card.purple {
  background-color: rgba(114, 122, 239, 0.1);
}
.feature-card h3 {
  font-size: 24px;
}
.feature-card p {
  font-size: 16px;
}

#get-now-btn {
  margin-top: 40px;
}

.navigation {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
.navigation h3 {
  font-size: 36px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 50px auto;
}
li {
  margin-bottom: 34px;
  font-size: 16px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
input[type="email"] {
  background-color: #fff;
  border: none;
  outline: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 8px 12px;
  height: 100%;
  color: rgba(17, 18, 53, 1);
}
input[type="image"] {
  background-color: #fff;
  border: none;
  outline: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 7px 12px;
  height: 100%;
  width: 17px;
  color: rgba(17, 18, 53, 1);
}
.email-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.socials a img {
  width: 17px;
}

.copyright {
  font-size: 14px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  section {
    max-width: 450px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    justify-content: space-around;
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
  }

  .hero > .section-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero > .section-container > .section-text {
    width: 50%;
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .hero > .section-container > .section-text h1 {
    font-size: 72px;
    line-height: 75px;
  }
  .hero > .section-container > .section-text p {
    max-width: 432px;
    margin-left: 0;
    text-align: start;
  }
  .hero .btn {
    margin: 0;
    max-width: 30%;
  }

  .description > .section-container {
    display: flex;
  }
  .description > .section-container > .section-image {
    width: 50%;
  }
  .description > .section-container > .card-wrapper {
    width: 50%;
    margin: auto 0;
  }
  .card {
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
  }
  .section-text.light-blue {
    padding: 50px 40px;
  }

  .alexander-arnold > .section-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
  }
  .alexander-arnold > .section-container > .section-image {
    width: 40%;
    position: relative;
  }
  .alexander-arnold > .section-container > .section-image img {
    width: 90%;
  }

  .alexander-arnold > .section-container > .section-text {
    width: 50%;
    text-align: start;
  }
  .trainer-info {
    max-width: 418px;
  }
  .trainer-img {
    position: absolute;
    bottom: -208px;
    left: 0px;
  }
  .alexander-arnold > .section-container > .section-text .btn {
    margin: 0;
    max-width: 230px;
    margin-bottom: 20px;
  }
  .benefits > .section-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .benefits > .section-container > .section-image {
    width: 40%;
  }

  .benefits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .feature-card {
    max-width: 370px;
  }
}
